<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Entity</th>
            <th>Element</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for value in values %}
            <tr>
                <td>
                    <a href="{{ path('nines_dc_value_show', { 'id': value.id }) }}">
                        {{ value.id }}
                    </a>
                </td>
                <td>
                    {{ value_manager.entityType(value) }}
                    <a href='{{ value_manager.linkToEntity(value) }}'>
                        {{ value_manager.findEntity(value) }}
                    </a>
                </td>

                <td>
                    {{ value.element }}
                </td>

                <td>
                    {{ value.data }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
