<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Public</th>
            <td>
                {% if image.public %}Yes{% else %}No{% endif %}
            </td>
        </tr>
        <tr>
            <th>Original Name</th>
            <td>
                {{ image.originalName }}
            </td>
        </tr>
        <tr>
            <th>Image Path</th>
            <td>
                {{ image.path }}
            </td>
        </tr>
        <tr>
            <th>Thumb Path</th>
            <td>
                {{ image.thumbPath }}
            </td>
        </tr>
        <tr>
            <th>Image Size</th>
            <td>
                {{ image.imageWidth }}x{{ image.imageHeight }} {{ image.fileSize|byte_size }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ image.description|raw }}
            </td>
        </tr>
        <tr>
            <th>License</th>
            <td>
                {{ image.license|raw }}
            </td>
        </tr>
        <tr>
            <th>Entity</th>
            <td>
                {% include '@NinesUtil/linked_entity/link.html.twig' with {
                    'entity': image
                } %}
            </td>
        </tr>

        <tr>
            <th>Created</th>
            <td>{{ image.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ image.updated|date }}</td>
        </tr>
    </tbody>
</table>


