{{ form_start(form) }}
{{ form_widget(form) }}
<div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <input type="submit" value="Save" class="btn btn-primary" />
        {% if image.id is null %}
            <a href="{{ path('image_index') }}" class="btn btn-warning"> Cancel </a>
        {% else %}
            <a href="{{ path('image_show', { 'id': image.id }) }}" class="btn btn-warning"> Cancel </a>
        {% endif %}
    </div>
</div>
{{ form_end(form) }}

