<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Original Name</th>
            <th>Size</th>
            <th>Description</th>
            <th>License</th>
            <th>Entity</th>
        </tr>
    </thead>
    <tbody>
        {% for image in images %}
            <tr>
                <td>
                    <a href="{{ path('nines_media_image_show', { 'id': image.id }) }}">
                        {{ image.originalName }}
                    </a>
                </td>
                <td>
                    {{ image.imageWidth }}x{{ image.imageHeight }} {{ image.fileSize|byte_size }}
                </td>

                <td>
                    {{ image.description|raw }}
                </td>

                <td>
                    {{ image.license|raw }}
                </td>

                <td>
                    {% include '@NinesUtil/linked_entity/link.html.twig' with {
                        'entity': image
                    } %}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
