<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Entity</th>
            <td>
                {{ image_manager.entityType(image) }}
                <a href='{{ image_manager.imageToEntity(image) }}'>
                    {{ image_manager.findEntity(image) }}
                </a><br />
                {{ image.entity }}
            </td>
        </tr>
        <tr>
            <th>Url</th>
            <td>
                {{ image.url }}
            </td>
        </tr>
        <tr>
            <th>Text</th>
            <td>
                {{ image.text }}
            </td>
        </tr>
        <tr>
            <th>HTML</th>
            <td>{{ image }}</td>
        </tr>
        <tr>
            <th>Rendered</th>
            <td>{{ image|raw }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ image.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ image.updated|date }}</td>
        </tr>
    </tbody>
</table>


