{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Blog posts</h1>
    {% if q %}
        <p class="count">
            Displaying {{ posts|length }} posts of {{ posts.getTotalItemCount }} total.
        </p>
    {% endif %}
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_BLOG_ADMIN') %}
                <a href="{{ path('nines_blog_post_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>

    <div class="clearfix"></div>

    <form method="get" class="form-horizontal">
        <fieldset>
            <legend>Blog search</legend>
            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Search query</label>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class='glyphicon glyphicon-search'></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    {% if q %}
        {% for post in posts %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title pull-left">
                        <a href="{{ path('nines_blog_post_show', { 'id': post.id }) }}">
                            {{ post.title }}
                        </a>
                    </h2>
                    {% if is_granted('ROLE_BLOG_ADMIN') %}
                        <div class="panel-title pull-right">{{ post.status.label }}</div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    {{ post.excerpt|raw }}
                </div>
                <div class="panel-footer text-right nines-author">
                    Posted {{ post.created|date }} by {{ post.user.fullname }} in
                    <a href="{{ path('nines_blog_post_category_show', {'id': post.category.id }) }}">
                        {{ post.category -}}
                    </a>.
                </div>
            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
    {% endif %}

{% endblock %}
