<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Suggest an Improvement for <i>{{ entity }}</i></h3>
    </div>
    <div class="panel-body">
        {% set form = comment_service.getForm() %}
        {{ form_start(form, {'action': path('comment_post')}) }}
        {{ form_widget(form) }}
        <input type="hidden" name="entity_id" value="{{entity.id}}"/>
        <input type="hidden" name="entity_class" value="{{entity|class_name}}" />
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
