{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Comment</h1>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('admin_comment_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Comment?">
                <span class='glyphicon glyphicon-remove'></span> Delete
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Fullname</th>
                <td>{{ comment.fullname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ comment.email }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    {{ comment.status }}
                </td>
            </tr>
            <tr>
                <th>Followup</th>
                <td>{% if comment.followUp %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Entity</th>
                    {% set entity = service.findEntity(comment) %}
                <td>{{ service.entityType(comment) }} <a href="{{ service.entityUrl(comment)}}">{{ entity }}</a></td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if comment.created %}{{ comment.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if comment.updated %}{{ comment.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h2>Status Update</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Change the comment's status</h3>
        </div>
        <div class="panel-body">
            {{ form_start(statusForm) }}
            {{ form_widget(statusForm) }}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
            {{ form_end(statusForm) }}
        </div>
        <dl class='dl-horizontal'>
            {% for status in statuses %}
                <dt>{{ status.label }}</dt>
                <dd>{{ status.description }}</dd>
            {% endfor %}
        </dl>                
    </div>

    {% if comment.notes|length > 0 %}
        <h2>Notes</h2>
        {% for note in comment.notes %}
            <div class="panel panel-default" id="note-{{ note.id }}">
                <div class="panel-body">
                    {{ note.content }}
                </div>
                <div class="panel-footer text-right">By {{ note.user.fullname }} on {{ note.created|date }}</div>
            </div>        
        {% endfor %}
    {% endif %}
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add a note</h3>
        </div>
        <div class="panel-body">
            {{ form_start(noteForm) }}
            {{ form_widget(noteForm) }}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
            {{ form_end(noteForm) }}
        </div>
    </div>

    

{% endblock %}
