{% extends 'base.html.twig' %}

{% block title %}User Index{% endblock %}

{% block body %}
    <h1>User Index</h1>
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('nines_user_admin_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New</a>
            {% endif %}
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Full Name</th>
                <th>Active</th>
                <th>Affiliation</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('nines_user_admin_show', {'id': user.id}) }}">{{ user.email }}</a></td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.active ? 'Yes' : 'No' }}</td>
                <td>{{ user.affiliation }}</td>
                <td>{{ user.roles ? user.roles|join(', ') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
