{# @var facet array #}
{# @var string header #}
{# @var string filter #}
{% if facet|length > 0 %}
    {% set queryParams = app.request.query.all %}
    <h3>{{ header }}</h3>
    {% for k,v in facet %}
        {% set range %}{{ k }} {{ k + facet.gap - 1 }}{% endset %}
        {% set checked %}
            {% apply spaceless %}
                {% if   ('filter_range' in queryParams|keys) and
                    (filter in queryParams['filter_range']|keys) and
                    (range in queryParams['filter_range'][filter]) %}
                    checked='checked'
                {% endif %}
            {% endapply %}
        {% endset %}
        <div class='checkbox'>
            <label>
                <input type='checkbox' name='filter_range[{{ filter }}][]' value='{{ k }} {{ k + facet.gap - 1 }}' {{ checked }}>
                {{ k }} to {{ k + facet.gap - 1 }}: {{ v }}
            </label>
        </div>
    {% endfor %}
{% endif %}
