{% extends 'base.html.twig' %}

{% block title %}Audio Search{% endblock %}

 {% block pageheader %}
     <h1>Audio Search</h1>
     {% if audios|length %}
         <p class="count">
             Displaying {{ audios|length }} audio files of {{ audios.getTotalItemCount }} total.
         </p>
     {% endif %}
 {% endblock %}

{% block body %}

    <form method="get" action="{{ path('nines_media_audio_search') }}" class="form-horizontal">
        <fieldset>
            <legend>Search</legend>
            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id='btn-search' type="submit">
                                <span class='glyphicon glyphicon-search'></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    {% if audios|length %}

        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Original Name</th>
                    <th>Public</th>
                    <th>Mime Type</th>
                    <th>File Size</th>
                </tr>
            </thead>
            <tbody>
                {% for audio in audios %}
                    <tr>
                        <td>
                            <a href="{{ path('nines_media_audio_show', { 'id': audio.id }) }}">
                                {{ audio.originalName }}
                            </a>
                        </td>
                        <td>{% if audio.public %}Yes{% else %}No{% endif %}</td>

                        <td>
                            {{ audio.mimeType }}
                        </td>

                        <td>
                            {{ audio.fileSize|byte_size }}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(audios) }}
        </div>
    {% endif %}

{% endblock %}

