<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Citation</th>
            <td>
                {{ reference.citation|raw }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ reference.description|raw }}
            </td>
        </tr>
        <tr>
            <th>Entity</th>
            <td>
                <a href='{{ reference_manager.linkToEntity(reference) }}'>
                    {{ reference_manager.findEntity(reference) }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ reference.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ reference.updated|date }}</td>
        </tr>
    </tbody>
</table>
