<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Citation</th>
            <th>Description</th>
            <th>Entity</th>
        </tr>
    </thead>
    <tbody>
        {% for reference in references %}
            <tr>
                <td>
                    <a href="{{ path('reference_show', { 'id': reference.id }) }}">
                        {{ reference.citation|raw }}
                    </a>
                </td>
                <td>
                    {{ reference.description|raw }}
                </td>
                <td>
                    <a href='{{ reference_manager.linkToEntity(reference) }}'>
                        {{ reference_manager.findEntity(reference) }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
