{% autoescape false %}

<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        {% for field in mapped_field_names -%}
        <tr>
            <th>{{ field|camel_title }}</th>
            <td>
                {% set mapping = field_mappings[field] %}
                    {% if mapping.type in ['datetime', 'datetime_immutable'] %}
                        {{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|date }}{% endif %}' }}
                    {% elseif mapping.type in ['date'] %}
                        {{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|date(\'Y-m-d\') }}{% endif %}' }}
                    {% elseif mapping.type in ['time'] %}
                        {{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|date(\'H:i:s\') }}{% endif %}' }}
                    {% elseif mapping.type in ['array'] %}
                        {{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|join(\', \') }}{% endif %}' }}
                    {% elseif mapping.type in ['boolean'] %}
                        {{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}Yes{% else %}No{% endif %}' }}
                    {% elseif mapping.type in ['text'] %}
                        {{ '{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|raw }}' }}
                    {% else %}
                        {{ '{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' }}' }}
                    {% endif %}
              </td>
          </tr>
          {% endfor %}

          {% set fkeys = associations|filter(v => v['type'] in [constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_ONE'), constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_ONE')]) -%}
          {% for field in fkeys|keys %}
              {% set relation = relations[field] %}
              {% set association = associations[field] %}
              {% set label = relation['entity_class_name'] %}
              <tr>
                <th>{{ label }}</th>
                <td>
                {{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}' }}
                  <a href='{{ '{{ path("' ~ relation['route_name'] ~ '_show", {"id": ' ~ entity_twig_var_singular ~ '.' ~ field ~ '.id}) }}' }}'>
                      {{- '{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' }}' -}}
                  </a>
                  {{ '{% endif %}' }}
                </td>
              </tr>
          {% endfor -%}

          {% set fkeys = associations|filter(v => v['type'] in [constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_MANY'), constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_MANY')]) -%}
          {% for field in fkeys|keys %}
              {% set relation = relations[field] %}
              {% set association = associations[field] %}
              {% set label = relation['entity_class_name'] %}
              <tr>
                <th>{{ label }}</th>
                <td>
                  {{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|length > 0 %}' }}
                  <ul>
                      {{ '{% for ' ~ relation['entity_twig_var_singular'] ~ ' in ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %} ' }}
                      <li>
                          <a href='{{ '{{ path("' ~ relation['route_name'] ~ '_show", {"id":' ~ relation['entity_twig_var_singular'] ~ '.id }) }}' }}'>
                              {{ '{{ ' ~ relation['entity_twig_var_singular'] ~ ' }}' }}
                          </a>
                      </li>
                      {{ '{% endfor %}' }}
                  </ul>
                  {{ '{% endif %}' }}
                </td>
              </tr>
          {% endfor -%}
    <tr>
        <th>Created</th>
        <td>{{ '{{ ' ~ entity_twig_var_singular ~ '.created|date }}' }}</td>
    </tr>
    <tr>
        <th>Updated</th>
        <td>{{ '{{ ' ~ entity_twig_var_singular ~ '.updated|date }}' }}</td>
    </tr>
    </tbody>
</table>


{% endautoescape %}
