{% autoescape false %}
  <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
          <tr>
              <th>ID</th>

              {%- for field in mapped_field_names %}
                  {% if field in field_mappings|keys %}
                     <th>{{ field|camel_title }}</th>
                  {% else %}
                      {% set association = associations[field] %}
                      {% if association['type'] == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_ONE') %}
                          <th>{{ field|title }}</th>
                      {% endif %}
                  {% endif %}
              {%- endfor %}

          </tr>
      </thead>
      <tbody>
      {{ '{% for ' ~ entity_twig_var_singular ~ ' in ' ~ entity_twig_var_plural ~ ' %}' }}
          <tr>
              <td>
                  <a href="{{ "{{ path('" ~ route_name ~ "_show', { 'id': " ~ entity_twig_var_singular ~ ".id" ~ " }) }}" }}">
                      {{ '{{ ' ~ entity_twig_var_singular ~ '.id' ~ ' }}' }}
                  </a>
              </td>

      {%- for field in mapped_field_names %}
          {%- if field in field_mappings|keys %}
          {%- set mapping = field_mappings[field] %}

          {%- if mapping.type in ['datetime', 'datetime_immutable'] %}

              <td>{{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|date }}{% endif %}' }}</td>

          {%- elseif mapping.type in ['date'] %}

              <td>{{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

          {%- elseif mapping.type in ['time'] %}

              <td>{{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

          {%- elseif mapping.type in ['array'] %}

              <td>{{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|join(\', \') }}{% endif %}' }}</td>

          {%- elseif mapping.type in ['text'] %}

              <td>
                  {{ '{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ '|raw }}' }}
              </td>

          {%- elseif mapping.type in ['boolean'] %}

              <td>{{ '{% if ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' %}Yes{% else %}No{% endif %}' }}</td>

          {% else %}

              <td>
                  {{ '{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' }}' }}
              </td>

          {%- endif %}

          {% else %}
              {% set relation = relations[field] %}
              {% set association = associations[field] %}
              {% if association['type'] == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_ONE') %}
              <td>
                  <a href='{{ '{{ path("' ~ relation['route_name'] ~ '_show", {"id": ' ~ entity_twig_var_singular ~ '.' ~ field ~ '.id}) }}' }}'>
                      {{ '{{ ' ~ entity_twig_var_singular ~ '.' ~ field ~ ' }}' }}
                  </a>
              </td>
              {% endif %}
          {% endif %}

      {%- endfor %}

          </tr>
      {{ '{% endfor %}' }}
      </tbody>
  </table>
  {% endautoescape %}
