<p>A new comment has been received.</p>

<p>
    Sender: {{ comment.fullname }} {{ comment.email }}<br />
    Follow-up: {% if comment.followUp %}Yes{% else %}No{% endif %}.<br />
    Re: <a href="{{ service.entityUrl(comment, true) }}">
        {{ service.entityUrl(comment, true) }}
    </a><br />
    Date: {{ comment.created|date }}<br />
</p>

<p>
    {{ comment.content }}
</p>
