{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('nines_user_admin_edit', {'id': user.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="{{ path('nines_user_admin_password', {'id': user.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-lock"></span> Password</a>
            <form method="post" action="{{ path('nines_user_admin_delete', {'id': user.id}) }}"
                    onsubmit="return confirm('Are you sure you want to delete this item?');"
                    style='display: inline'>
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                <button class="btn btn-warning">
                    <span class='glyphicon glyphicon-trash'></span> Delete
                </button>
            </form>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ user.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td>{{ user.fullname }}</td>
            </tr>
            <tr>
                <th>Affiliation</th>
                <td>{{ user.affiliation }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|join(', ') }}</td>
            </tr>
            <tr>
                <th>Last Login</th>
                <td>{{ user.login ? user.login|date : '' }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ user.created|date }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ user.updated|date }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
