<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Entity</th>
            <th>Url</th>
            <th>Text</th>

        </tr>
    </thead>
    <tbody>
        {% for link in links %}
            <tr>
                <td>
                    <a href="{{ path('link_show', { 'id': link.id }) }}">
                        {{ link.id }}
                    </a>
                </td>
                <td>
                    {{ link_manager.entityType(link) }}
                    <a href='{{ link_manager.linkToEntity(link) }}'>
                        {{ link_manager.findEntity(link) }}
                    </a>
                </td>

                <td>
                    {{ link.url }}
                </td>

                <td>
                    {{ link.text }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
