{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Flag List</h1>
    <p class="count">
        Displaying {{ flags|length }} flags of {{ flags.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('flag_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Label</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>    
            </tr>
        </thead>
        <tbody>
            {% for flag in flags %}
                <tr>
                    <td>
                        <a href="{{ path('flag_show', { 'id': flag.id }) }}">
                            {{ flag.name }}
                        </a>
                    </td>
                    <td>{{ flag.label }}</td>
                    <td>{{ flag.description|raw }}</td>
                    <td>{% if flag.created %}{{ flag.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if flag.updated %}{{ flag.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(flags) }}
    </div>

{% endblock %}
