{% extends 'base.html.twig' %}

{% block title %}Value Search{% endblock %}

 {% block pageheader %}
     <h1>Value Search</h1>
     {% if values|length %}
         <p class="count">
             Displaying {{ values|length }} values of {{ values.getTotalItemCount }} total.
         </p>
     {% endif %}
 {% endblock %}

{% block body %}

    <form method="get" action="{{ path('nines_dc_value_search') }}" class="form-horizontal">
        <fieldset>
            <legend>Search</legend>
            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id='btn-search' type="submit">
                                <span class='glyphicon glyphicon-search'></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <p> Full text searching options, if available:</p>
            <ul>
                <li><code>shakespeare</code> - shakespeare should be present, but might not be</li>
                <li><code>shakes*</code> - words starting with shakes should be present</li>
                <li><code>+agnes</code> - agnes must be present</li>
                <li><code>-fisher</code> - fisher must not be present</li>
                <li>Combinations are OK: <code>+agnes -fisher</code> finds Agnes who isn't a Fisher</li>
                <li>Phrases are OK: <code>"nee agnes"</code> finds rows that contain the literal phrase.
            </ul>
        </fieldset>
    </form>

    {% if values|length %}

        {% embed '@NinesDublinCore/value/partial/table.html.twig' %}
        {% endembed %}

        <div class="navigation">
            {{ knp_pagination_render(values) }}
        </div>
    {% endif %}

{% endblock %}

