<h2>Metadata</h2>
<table class="table table-bordered table-condensed table-hover table-striped">
    <tbody>
        <tr>
            <th>Public</th>
            <td>{% if audio.public %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Original Name</th>
            <td>{{ audio.originalName }}</td>
        </tr>
        <tr>
            <th>Audio Path</th>
            <td>{{ audio.path }}</td>
        </tr>
        <tr>
            <th>Mime Type</th>
            <td>{{ audio.mimeType }}</td>
        </tr>
        <tr>
            <th>File Size</th>
            <td>{{ audio.fileSize|byte_size }}</td>
        </tr>
        <tr>
            <th>Entity</th>
            <td>
                {% include '@NinesUtil/linked_entity/link.html.twig' with {
                    'entity': audio
                } %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ audio.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ audio.updated|date }}</td>
        </tr>
    </tbody>
</table>
