<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Original Name</th>
            <th>Size</th>
            <th>Description</th>
            <th>License</th>
            <th>Entity</th>
        </tr>
    </thead>
    <tbody>
        {% for audio in audios %}
            <tr>
                <td>
                    <a href="{{ path('nines_media_audio_show', { 'id': audio.id }) }}">
                        {{ audio.originalName }}
                    </a>
                </td>
                <td>
                    {{ audio.fileSize|byte_size }}
                </td>
                <td>
                    {{ audio.description|raw }}
                </td>

                <td>
                    {{ audio.license|raw }}
                </td>
                <td>
                    {% include '@NinesUtil/linked_entity/link.html.twig' with {
                        'entity': audio
                    } %}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
