{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('nines_user_profile_edit') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="{{ path('nines_user_profile_password') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-lock"></span> Password</a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td>{{ user.fullname }}</td>
            </tr>
            <tr>
                <th>Affiliation</th>
                <td>{{ user.affiliation }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|join(',') }}</td>
            </tr>
            <tr>
                <th>Last Login</th>
                <td>{{ user.login ? user.login|date : '' }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ user.created|date }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ user.updated|date }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
