<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Citation</th>
            <td>
                {{ citation.citation|raw }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ citation.description|raw }}
            </td>
        </tr>
        <tr>
            <th>Entity</th>
            <td>
                <a href='{{ citation_manager.linkToEntity(citation) }}'>
                    {{ citation_manager.findEntity(citation) }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ citation.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ citation.updated|date }}</td>
        </tr>
    </tbody>
</table>
