{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>HTTP {{ exception.statusCode }}</h1>
{% endblock %}

{% block body %}

    <p><strong>{{ exception.class }}</strong> <br>
        {{ exception.getStatusCode() }} - {{ exception.message }}<br> 
    </p>

    <p><button class="btn btn-default" onclick="window.history.go(-1)">Back</button>


    <h2>Nested exceptions</h2>
    {% set previous_count = exception.allPrevious|length %}
    {% if previous_count %}
        <ul>
            {% for i, previous in exception.allPrevious %}
                <li>
                    <strong>{{ previous.class }}</strong><br>
                    {{ exception.message|nl2br }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Stack trace</h2>
    <ul>
        {% for position, e in exception.toarray %}
            <li>
                <strong>{{ e.class }}</strong><br>
                {{ e.message|nl2br }}
                <ol>
                    {% for trace in e.trace if trace.file %}
                        <li>{{ trace.file }}:{{trace.line }} {{ trace.function }}</li>
                        {% endfor %}
                </ol>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
