{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>CommentStatus List</h1>
    <p class="count">
        Displaying {{ commentStatuses|length }} commentStatuses of {{ commentStatuses.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('admin_comment_status_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Label</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>            </tr>
        </thead>
        <tbody>
        {% for commentStatus in commentStatuses %}
            <tr>
                <td>
                    <a href="{{ path('admin_comment_status_show', { 'id': commentStatus.id }) }}">
                        {{ commentStatus.name }}
                    </a>
                </td>
                <td>{{ commentStatus.label }}</td>
                <td>{{ commentStatus.description }}</td>
                <td>{% if commentStatus.created %}{{ commentStatus.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if commentStatus.updated %}{{ commentStatus.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(commentStatuses) }}
    </div>

{% endblock %}
