{% extends 'base.html.twig' %}

{% block title %}Comment Details {% endblock %}

 {% block pageheader %}
     <h1>Comment Details</h1>
 {% endblock %}

{% block body %}

    {% if is_granted('ROLE_FEEDBACK_ADMIN') %}
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <form class='delete-form' method="post" action="{{ path('nines_feedback_comment_delete', {'id': comment.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ comment.id) }}">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                </form>
            </div>
        </div>
    {% endif %}

    {% embed '@NinesFeedback/comment/partial/detail.html.twig' %}
    {% endembed %}

    {% if(is_granted('ROLE_FEEDBACK_ADMIN')) %}
        <h2>Status Update</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Change the comment's status</h3>
            </div>
            <div class="panel-body">
                {{ form_start(admin_form) }}
                {{ form_widget(admin_form) }}
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
                {{ form_end(admin_form) }}
            </div>
        </div>
    {% endif %}

    {% if comment.notes|length > 0 %}
        <h2>Notes</h2>
        {% for note in comment.notes %}
            <div class="panel panel-default" id="note-{{ note.id }}">
                {% if is_granted('ROLE_FEEDBACK_ADMIN') %}
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group'>
                            <form class='delete-form' method="post" action="{{ path('nines_feedback_comment_note_delete', {'id': note.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ note.id) }}">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                <div class="panel-body">
                    {{ note.content }}
                </div>
                <div class="panel-footer text-right nines-author">By {{ note.user.fullname }} on {{ note.created|date }}</div>
            </div>
        {% endfor %}
    {% endif %}

    {% if(is_granted('ROLE_FEEDBACK_ADMIN')) %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add a note</h3>
            </div>
            <div class="panel-body">
                {{ form_start(note_form) }}
                {{ form_widget(note_form) }}
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
                {{ form_end(note_form) }}
            </div>
        </div>
    {% endif %}

{% endblock %}
