<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Public</th>
            <td>
                {% if pdf.public %}Yes{% else %}No{% endif %}
            </td>
        </tr>
        <tr>
            <th>Original Name</th>
            <td>
                {{ pdf.originalName }}
            </td>
        </tr>
        <tr>
            <th>PDF Path</th>
            <td>
                {{ pdf.path }}
            </td>
        </tr>
        <tr>
            <th>Thumb Path</th>
            <td>
                {{ pdf.thumbPath }}
            </td>
        </tr>
        <tr>
            <th>PDF Size</th>
            <td>
                {{ pdf.fileSize|byte_size }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ pdf.description|raw }}
            </td>
        </tr>
        <tr>
            <th>License</th>
            <td>
                {{ pdf.license|raw }}
            </td>
        </tr>
        <tr>
            <th>Entity</th>
            <td>
                {% include '@NinesUtil/linked_entity/link.html.twig' with {
                    'entity': pdf
                } %}
            </td>
        </tr>

        <tr>
            <th>Created</th>
            <td>{{ pdf.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ pdf.updated|date }}</td>
        </tr>
    </tbody>
</table>


