<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Original Name</th>
            <th>Size</th>
            <th>Description</th>
            <th>License</th>
            <th>Entity</th>
        </tr>
    </thead>
    <tbody>
        {% for pdf in pdfs %}
            <tr>
                <td>
                    <a href="{{ path('nines_media_pdf_show', { 'id': pdf.id }) }}">
                        {{ pdf.originalName }}
                    </a>
                </td>
                <td>
                    {{ pdf.fileSize|byte_size }}
                </td>

                <td>
                    {{ pdf.description|raw }}
                </td>

                <td>
                    {{ pdf.license|raw }}
                </td>

                <td>
                    {% include '@NinesUtil/linked_entity/link.html.twig' with {
                        'entity': pdf
                    } %}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
