{% autoescape false %}
    {{ "{% extends 'base.html.twig' %}" }}

    {{ '{% block title %}' }}Edit {{ entity_class_shortName|u.camel.title }} {{ '{% endblock %}' }}

    {{ "{% block pageheader %}" }}
      <h1>Edit {{ entity_class_shortName|u.camel.title}}</h1>
    {{ " {% endblock %} " }}

    {{ "{% block body %}" }}

    {{ "{% embed '" ~ route_name_prefix ~ "/partial/form.html.twig' %}" }}
    {{ "{% endembed %}" }}

    {{ "{% endblock %}" }}
{% endautoescape %}
