{% autoescape false %}
    {{ "{% extends 'base.html.twig' %}" }}

    {{ '{% block title %}' }}Edit {{ entity_class_name|camel_title }} {{ '{% endblock %}' }}

    {{ "{% block body %}" }}
    <h1>Edit {{ entity_class_name|camel_title }}</h1>

    {{ "{% embed '" ~ route_name ~ "/partial/form.html.twig' %}" }}
    {{ "{% endembed %}" }}

    {{ "{% endblock %}" }}

    {{ "{% block javascripts %}" }}
    {{ "{% include '@NinesEditor/editor/widget.html.twig' %}" }}
    {{ "{% endblock %}" }}
{% endautoescape %}
