{% autoescape false %}
{{ "{% extends 'base.html.twig' %}" }}

{{ '{% block title %}' }}{{ entity_class_name|camel_title }} List{{ '{% endblock %}' }}

{{ "{% block pageheader %}" }}
    <h1>{{ entity_class_name|camel_title }} List</h1>
    <p class="count">
        Displaying {{ '{{ ' ~ entity_twig_var_plural ~ "|length }}" }} {{ entity_twig_var_plural }} of {{ '{{ ' ~ entity_twig_var_plural ~ ".getTotalItemCount }}" }} total.
    </p>
{{ " {% endblock %} " }}

{{ "{% block body %}" }}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {{ "{% if is_granted('ROLE_CONTENT_ADMIN') %}" }}
            <a href="{{ "{{ path('" ~ route_name ~ "_new') }}" }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            {{ "{% endif %}" }}

            <a href="{{ "{{ path('" ~ route_name ~ "_search') }}" }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {{ "{% embed '" ~ route_name ~ "/partial/table.html.twig' %}" }}
    {{ "{% endembed %}" }}

    <div class="navigation">
        {{ '{{ knp_pagination_render(' ~ entity_twig_var_plural ~ ') }}' }}
    </div>

{{ "{% endblock %}" }}
{% endautoescape %}
