<?php

namespace {{ namespace }}\DataFixtures;

{% set fkeys = associations|filter(v => v['type'] in [constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_ONE'), constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_ONE')] ) -%}

use {{ entity_full_class_name }};
use Doctrine\Bundle\FixturesBundle\Fixture;
{% if fkeys|length > 0 %}use Doctrine\Common\DataFixtures\DependentFixtureInterface;{% endif %}
use Doctrine\Persistence\ObjectManager;

{%- set implements %}
{%- if fkeys|length > 0 %}implements DependentFixtureInterface{% else %}{% endif %}
{% endset %}


class {{ fixture_class_name }} extends Fixture {{ implements }} {

    /**
     * {@inheritDoc}
     */
    public function load(ObjectManager $em)
    {
        for($i = 0; $i < {{ count }}; $i++) {
            $fixture = new {{ entity_class_name }}();
        {% for field in mapped_field_names %}
                {%- set mapping = field_mappings[field] %}
                {%- set label = mapping['columnName'] | replace({'_': ' '}) | title | replace({' ': ''}) -%}
                {%- if mapping.type in ['datetime', 'date_immutable', 'date', 'time'] %}
            $fixture->set{{label}}(new \DateTime("2020-{$i}-{$i}"));
            {%- elseif mapping.type in ['array'] %}
            $fixture->set{{label}}(['{{ label }} ' . $i]);
            {%- elseif mapping.type in ['boolean'] %}
            $fixture->set{{label}}($i % 2 == 0);
            {%- elseif mapping.type in ['smallint', 'integer', 'bigint'] %}
            $fixture->set{{label}}($i);
            {%- elseif mapping.type in ['decimal', 'float'] %}
            $fixture->set{{label}}($i+0.5);
            {%- elseif mapping.type in ['text'] %}
            $fixture->set{{label}}("<p>This is paragraph ${i}</p>");
            {%- else %}
            $fixture->set{{label}}('{{ label }} ' . $i);
            {% endif %}
        {%- endfor %}

        {% for field in fkeys|keys %}
            {% set relation = relations[field] %}
            {% set association = associations[field] %}
            {% set label = relation['entity_class_name'] %}
            $fixture->set{{field|capitalize}}($this->getReference('{{field|lower}}.1'));
        {% endfor -%}

            $em->persist($fixture);
            $this->setReference('{{ entity_class_name|lower }}.' . $i, $fixture);
}

$em->flush();
}

{% if fkeys|length > 0 %}
    /**
    * {@inheritdoc}
    */
    public function getDependencies() {
    return [
    {% for field in fkeys|keys %}
        {% set relation = relations[field] %}
        {% set association = associations[field] %}
            {{ relation['fixture_class_name'] }}::class,
    {% endfor %}
    ];
    }
{% endif %}

}
